/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



html,
body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	/* font-family: 'Rubik', sans-serif; */
	/* font-family: 'New Amsterdam', sans-serif; */
	/* font-family: "Open Sans", sans-serif; */
	font-family: "Inter", sans-serif;
	/* font-family: "Matemasie", sans-serif; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

.overflow-important {
	overflow: visible !important;
}

.font-monospace {
	font-family: 'Space Mono', sans-serif;
}

@layer utilities {
	.contain {
		@apply container mx-auto;
	}
	.full-hover {
		@apply w-full duration-300 text-start
	}
	.btn-primary {
		@apply flex items-center justify-center px-3 xl:px-5 py-2.5 text-xs tracking-wide text-white transition-colors duration-200 bg-primary-500 rounded-lg gap-x-2 hover:bg-primary-700 dark:hover:bg-primary-700 dark:bg-primary-500 dark:disabled:bg-black disabled:bg-zinc-500 disabled:cursor-not-allowed;
	}

	.btn-secondary {
		@apply px-3 xl:px-5 py-2.5 text-xs text-zinc-800 transition-colors duration-200 bg-white border rounded-lg w-auto dark:hover:bg-black/50 dark:bg-transparent hover:bg-zinc-100 dark:text-white dark:border-primary-500 flex items-center justify-center gap-x-2 dark:disabled:bg-black disabled:bg-zinc-300 disabled:cursor-not-allowed;
	}

	.input-style {
		@apply bg-zinc-50 py-3 px-5 transition-colors duration-300 disabled:bg-zinc-300 disabled:placeholder:text-black disabled:text-black outline-none border-2 hover:bg-zinc-100 focus:bg-white focus:border-primary-500 dark:bg-darkSecondary dark:border-none rounded-md;
	}

	.user-avatar {
		@apply flex items-center justify-center rounded-full shadow-md font-bold;
	}

	.editable-text {
		@apply inline-block dark:focus:bg-black dark:hover:bg-black py-0.5 rounded-sm focus:outline-none hover:bg-zinc-100 focus:bg-zinc-200 duration-300 transition-colors editable;
	}
	.filter-label {
		@apply w-fit min-w-fit text-xs rounded-xl dark:bg-dark py-2 px-3 flex items-center border border-blue-500 dark:text-zinc-300;
	}
	.user-avatar {
		@apply flex items-center justify-center rounded-full shadow-md font-bold;
	}

	.editable-text {
		@apply inline-block dark:focus:bg-black dark:hover:bg-black rounded-sm focus:outline-none hover:bg-zinc-100 focus:bg-zinc-200 duration-300 transition-colors editable;
	}

	.badge-blue {
		@apply bg-blue-100 rounded-md text-xs font-bold py-1.5 px-4 text-blue-500 hover:bg-blue-200 transition-colors duration-300 flex items-center gap-2;
	}
	.badge-green {
		@apply bg-green-100 rounded-md text-xs font-bold py-1.5 px-4 text-green-500 hover:bg-green-200 transition-colors duration-300 flex items-center gap-2;
	}
	.badge-red {
		@apply bg-red-100 rounded-md text-xs font-bold py-1.5 px-4 text-red-500 hover:bg-red-200 transition-colors duration-300 flex items-center gap-2;
	}
	.badge-zinc {
		@apply bg-zinc-100 rounded-md text-xs font-bold py-1.5 px-4 text-zinc-500 hover:bg-zinc-200 transition-colors duration-300 flex items-center gap-2;
	}
}
.banner {
	background-image: url('/images/banner.jpeg');
}

.nav-shadow {
	background: linear-gradient(
		rgb(255, 255, 255) 5%,
		rgba(255, 255, 255, 75%) 45%,
		rgba(255, 255, 255, 20%) 80%,
		transparent
	);
}

.editable:empty:before {
	content: attr(data-placeholder);
	color: #9e9e9e;
	font-weight: 400;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.reactmarkdown ul {
	list-style: circle;
}

/* Track */
::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #1986f3;
	border-radius: 20px;
	width: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(3, 179, 255, 0.8);
}
  

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Hanya sembunyikan scrollbar, tetapi masih bisa di-scroll */
.no-scrollbar::-webkit-scrollbar {
	display: none;
  }
  
  .no-scrollbar {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
  }

  @keyframes slide {
	0% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(-90%);
	}
  }
  
  /* Media Query untuk Tablet (Layar dengan lebar antara 768px dan 1023px) */
  @media (max-width: 1023px) {
	@keyframes slide {
	  0% {
		transform: translateX(120%);
	  }
	  100% {
		transform: translateX(-130%);
	  }
	}
  }
  
  /* Media Query untuk Mobile (Layar dengan lebar kurang dari 768px) */
  @media (max-width: 767px) {
	@keyframes slide {
	  0% {
		transform: translateX(200%);
	  }
	  100% {
		transform: translateX(-200%);
	  }
	}
  }
  
  
  .animate-slide {
	animation: slide 15s linear infinite;
  }
  

  /* From Uiverse.io by Yaya12085 */ 
.buttonSearch {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	background-color: #000;
	color: #fff;
	font-size: 13px;
	border: 0.5px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 8px;
	height: 65px;
	padding: 12px;
	border-radius: 15px 15px 12px 12px;
	cursor: pointer;
	position: relative;
	will-change: transform;
	transition: all .1s ease-in-out 0s;
	user-select: none;
	/* Add gradient shading to each side */
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
	  linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
	background-position: bottom right, bottom right;
	background-size: 100% 100%, 100% 100%;
	background-repeat: no-repeat;
	box-shadow: inset -4px -10px 0px rgba(255, 255, 255, 0.4),
	  inset -4px -8px 0px rgba(0, 0, 0, 0.3),
	  0px 2px 1px rgba(0, 0, 0, 0.3),
	  0px 2px 1px rgba(255, 255, 255, 0.1);
	transform: perspective(70px) rotateX(5deg) rotateY(0deg);
  }
  
  .buttonSearch::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
	z-index: -1;
	border-radius: 15px;
	box-shadow: inset 4px 0px 0px rgba(255, 255, 255, 0.1),
	  inset 4px -8px 0px rgba(0, 0, 0, 0.3);
	transition: all .1s ease-in-out 0s;
  }
  
  .buttonSearch::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
	  linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
	background-position: bottom right, bottom right;
	background-size: 100% 100%, 100% 100%;
	background-repeat: no-repeat;
	z-index: -1;
	border-radius: 15px;
	transition: all .1s ease-in-out 0s;
  }
  
  .buttonSearch:active {
	will-change: transform;
	transform: perspective(80px) rotateX(5deg) rotateY(1deg) translateY(3px) scale(0.96);
	height: 64px;
	border: 0.25px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset -4px -8px 0px rgba(255, 255, 255, 0.2),
	  inset -4px -6px 0px rgba(0, 0, 0, 0.8),
	  0px 1px 0px rgba(0, 0, 0, 0.9),
	  0px 1px 0px rgba(255, 255, 255, 0.2);
	transition: all .1s ease-in-out 0s;
  }
  
  .buttonSearch::after:active {
	background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.2));
  }
  
  .buttonSearch:active::before {
	content: "";
	display: block;
	position: absolute;
	top: 5%;
	left: 20%;
	width: 50%;
	height: 80%;
	background-color: rgba(255, 255, 255, 0.1);
	animation: overlay 0.1s ease-in-out 0s;
	pointer-events: none;
  }
  
  .buttonSearch svg {
	width: 15px;
	height: 15px;
  }
  
  @keyframes overlay {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
  }
  
  .buttonSearch:focus {
	outline: none;
  }


.container-input-search {
	position: relative;
	--size-button: 50px;
	color: white;
  }
  
  .input-search {
	padding-left: var(--size-button);
	height: var(--size-button);
	font-size: 17px;
	border: none;
	color: #fff;
	outline: none;
	width: var(--size-button);
	transition: all ease 0.3s;
	background-color: #1B75BB;
	box-shadow: 1.5px 1.5px 3px #134a80, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #134a80, inset 0px -0px 0px #5f5e5e;
	border-radius: 50px;
	cursor: pointer;
  }
  
  .input-search:focus,
  .input-search:not(:invalid) {
	width: 100%;
	cursor: text;
	box-shadow: 0px 0px 0px #134a80, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #134a80, inset -1.5px -1.5px 3px #5f5e5e;
  }
  
  .input-search:focus + .icon,
  .input-search:not(:invalid) + .icon {
	pointer-events: all;
	cursor: pointer;
  }
  
  .container-input-search .icon {
	position: absolute;
	width: var(--size-button);
	height: var(--size-button);
	top: 0;
	left: 0;
	padding: 8px;
	pointer-events: none;
  }
  
  .container-input-search .icon svg {
	width: 100%;
	height: 100%;
  }